%h1 Editing ticket

= form_for @ticket, url: project_ticket_path(@ticket.project_id, @ticket) do |f|
  - if @ticket.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ticket.errors.count, "error")} prohibited this ticket from being saved:"
      %ul
        - @ticket.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.text_field :title, size: 100
  .field
    = f.text_area :content, rows: 10, cols: 100
  .field
    = f.radio_button :status , "current"
    = f.label :status_current, " current"
    = f.radio_button :status , "backlog"
    = f.label :status_backlog, " backlog"
    = f.radio_button :status , "done"
    = f.label :status_backlog, " done"
  .field
    = f.submit '保存', data: { disable_with: '保存' }

%br

= link_to '詳細', project_ticket_path(@ticket.project_id, @ticket)
|
= link_to '一覧', project_tickets_path(@ticket.project_id)
