%p#notice= notice

%p
  %b User:
  = @ticket.user_id
%p
  %b Title:
  = @ticket.title
%p
  %b Content:
  = @ticket.content
%p
  %b Status:
  = @ticket.status

= link_to '編集', edit_project_ticket_path(@ticket.project_id, @ticket)
|
= link_to '一覧', project_tickets_path(@ticket.project_id)
