%p#notice= notice

%div
  %b User:
  = @ticket.user_id
%div.target_blank
  %b Title:
  =raw show_markdown(@ticket.title)
%div.target_blank
  %b Content:
  =raw show_markdown(@ticket.content)
%div
  %b Status:
  = @ticket.status

= link_to '編集', edit_project_ticket_path(@ticket.project_id, @ticket)
|
= link_to '一覧', project_tickets_path(@ticket.project_id)
